@page {
    margin: 10mm;
    size: A4;
}

body {
    display: flex;
    flex-flow: row wrap;
    font-size: 3.6mm;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    margin: 0;
}


p {
    margin-top: 0mm;
    margin-bottom: 1mm;
}

.card_frame {
    /*
        size of magic card is 63mm x 88mm
        proxy size is 60mm x 85mm (including border)
    */
    width: 60mm;
    height: 85mm;
    box-sizing: border-box;

    border: 0.5mm solid black;

    padding: 3mm;
    overflow: hidden;
    text-rendering: geometricPrecision;
    line-height: 100%;

    display: flex;
    flex-flow: column nowrap;

    page-break-inside: avoid;

    .card_inner {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        max-height: 100%;
        min-height: 0;


        .name_mana_line {
            flex-basis: 7mm;
            justify-content: space-between;
            display: flex;
            font-size: 110%;

            .name {
                text-align: left;

                font-weight: bold;
                word-break: break-word;
            }

            .mana_cost {
                text-align: right;
                white-space: nowrap;
            }
        }

        .art_box {
            flex-basis: 20mm;
            flex-shrink: 1;
        }

        .type_line {
            flex-basis: 6mm;
            font-size: 95%;
        }

        .oracle_box {
            flex-basis: 44mm;

            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;

            .oracle_text {
                font-size: 85%;
            }


            .power_toughness,
            .loyalty {
                text-align: right;
            }

        }

    }

    .flip_bottom {
        transform: rotate(180deg);
    }


    .flip_divider {
        width: 100%;
    }

}