* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main article {
    text-align: center;
    margin: 0 auto;
    max-width: 25em;

    form.decklist {
        height: max-content;

        display: flex;
        flex-direction: column;

        button[type="submit"] {
            padding: 0.5em;
            font-size: 150%;
            margin: 0.5em auto;
        }

        textarea {
            font-family: "Courier New", monospace;
            text-align: left;
            border: 1px solid black;
            font-size: 1em;
            resize: none;

        }

    }
}

footer {
    text-align: center;
    margin: 0 auto;
    line-height: 0;
    font-size: 80%;
}