<div class="name_mana_line">
    <p class="name">{{card.pretty_name}}</p>
    <p class="manacost">{{card.manacost_html}}</p>
</div>
<p class="typeline">{{card.typeline}}</p>
<div class="oracle_div">
    {% for oracle_line in card.oracle_lines %}
    <p class="oracle_p">{{oracle_line}}</p>
    {% endfor %}
</div>
{% block typespecific %}{% endblock %}
