<div class="card_frame">
    <div class="card_inner">
        {{card.faces[0].inner_html()}}
    </div>
</div>
<div class="card_frame">
    <div class="card_inner">
        {{card.faces[1].inner_html()}}
    </div>
</div>
