@using SharedModel.Model
@model Face
<div class="name_mana_line">
    <p class="name">@Model.Name</p>
    @if (Model.ManaCost is not null)
    {
        <div class="mana_cost">
            <span>
                <partial name="_OraclePartial" model="Model.ManaCost"/>
            </span>
        </div>
    }
</div>
@* The art box element is purely to assist the flex layout,
it is where the art would normally go, so having some space there feels right :) *@
<div class="art_box"></div>
<p class="type_line">@Model.TypeLine</p>
<div class="oracle_box">
    @if (Model.OracleText is not null)
    {
        <div class="oracle_text">
            @foreach (var line in Model.OracleText.Split('\n'))
            {
                <p><partial name="_OraclePartial" model="line"/></p>
            }
        </div>
    }
    @if (Model.Power is not null || Model.Toughness is not null)
    {
        <p class="power_toughness">@Model.Power/@Model.Toughness</p>
    }
    @if (Model.Loyalty is not null)
    {
        <p class="loyalty">@Model.Loyalty</p>
    }
</div>